h1 video{
    width: 300px;
    height: 300px;
    border: 200px;
    float: inline-start;
    
}
img{
    width: 600px;
    height: 400px;
}
h1 h1{
    font-size: larger;
}
.text ul li a{
   display: inline-block;
}